@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto.zip') format('truetype');
    /* Add more src declarations for different weights/styles if needed */
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

/* carousel css  */

#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========== nav css ==========*/

.menu-horizontal .active {
    @apply bg-inherit text-primary;
}

.navbar .menu li>*:not(ul):not(details).active,
.navbar .menu li>details>summary:active {
    background-color: unset !important;
    color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
}

.navbar .menu-horizontal li a {}

.navbar .menu-horizontal li:hover a {
    background-color: unset !important;
}

.navbar .menu-horizontal li a:hover {
    color: #2463eb !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #2463eb;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgb(75, 132, 255);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 16px !important;
    font-weight: bold;
    color: floralwhite;
}

/* popular class css  */

.custom-cls-2:hover .custom-cls-3 {
    visibility: visible;
}

.class-shadow .div-shadow {
    transition: all ease .3s;
}

.class-shadow:hover .div-shadow {
    visibility: visible;
}

/* page banner image  */
.banner-img {
    background-image: url(../src/assets/images/gradient1.png), url(../src/assets/images/img18.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

choose section css .choose-img {
    background-image: linear-gradient(rgb(80, 70, 229) 0%, rgb(43, 49, 203) 100%);
    border-color: rgb(93, 79, 240);
}

.choose-img2 {
    background-image: linear-gradient(to right top, rgba(79, 70, 229, 0.2) 0%, transparent 50%, transparent 100%);
    border-color: rgba(92, 79, 240, 0.2);
}

/* login and register page  */

/* banner section css  */

.banner-bg-img {
    background-image: url(../src/assets/images/img26.jpg);
}

/* popular classe section  */
.img-layer {}

/* scroll to top button css  */

.scroll-to-top {
    background-color: #2463eb !important;
    border-radius: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-to-top:hover {
    background-color: #0351f8 !important;
}